<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sample nodejs app</title>
  </head>
  <body>
    <h1>User page</h1>
    <br>
    <div>
      <p>Username: <b><%= username %></b></p>
    </div>
    <div>
      <p>Password: <b><%= password %></b></p>
    </div>
    <div>
      <p>Hidden value1: <b><%= hiddenValue1 %></b></p>
    </div>
    <div>
      <p>Hidden value2: <b><%= hiddenValue2 %></b></p>
    </div>
  </body>
</html>